<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html"; charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/assets/css/base.css" media="screen" />
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="container">
      		<header>
        		<div class="container">
          			<h1>
              			<a href="/" title="Home Page"> Coder and Logger </a>
          				<span class="github-src">
            				<a 		href ="https://github.com/zhiyongjzy"
               						target="_blank"
               						title="Fork me on GitHub">
              					<img src="/assets/images/GitHub-Mark-Light-32px.png" alt="">
            				</a>
          				</span>
          			</h1>
        		</div>
      		</header>

      		<aside id="left-side">
        		{% include categories.ext %}
      		</aside>
      		<aside id="right-side">
        		{% include archives.ext %}
      		</aside>
      		<article>
				{{ content }}
      		</article>
	</body>


</html>
